* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 14px;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #fff;
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        background: #C6E3FF;
        min-height: 100vh;
        .letter {
            background: url(../img/letter_bg.png) no-repeat center;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            width: 45px;
            height: 45px;
            z-index: 99;   
            cursor: all-scroll;
            p {
                position: absolute;
                &.letter-symbol {
                    font-size: 18px;
                    font-weight:700;
                    // margin-bottom: 5px;
                }
                &.letter-index {
                    margin-top: 5px;
                    bottom: 3px;
                    right: 3px;
                    font-size: 14px;
                }
            }
        }
        .hide {
            display: none;
        }

        .op-0 {
            opacity: 0;
        }
        
        .game {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            min-height: 100vh;
            flex-basis: 70%;
            .box {
                width: 741px;
                height: 741px;
                border: 3px solid rgb(63, 63, 63);
                display: flex;
                flex-wrap: wrap;
                
                &-cell {
                    width: 45px;
                    height: 45px;
                    margin: 2px;
                    background: rgb(194, 194, 194);
                    border-radius: 6px;
                    font-size: 15px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    &.hovered {
                        opacity: 0.5;
                    }
                    &.triple-word {
                        background: url(../img/triple-word.png) no-repeat center;
                    }
                    &.double-word {
                        background: url(../img/double-word.png) no-repeat center;
                    }
                    &.triple-letter {
                        background: url(../img/triple-letter.png) no-repeat center;
                    }
                    &.double-letter {
                        background: url(../img/double-letter.png) no-repeat center;
                    }
                    &.star {
                        background: url(../img/star.png) no-repeat center;
                    }
                }
            }
            .available-letters {
                display: flex;
                justify-content: center;
                align-items: center;
                .slot {
                    width: 45px;
                    height: 45px;
                    margin: 0 10px;
                }
            }
        }
        
        .sidebar {
            flex-basis: 50%;
            min-height: 100vh;
            border-left: 10px solid rgb(194, 194, 194);
        }
    }
}