* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 14px;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #fff;
}

body .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #C6E3FF;
  min-height: 100vh;
}

body .container .letter {
  background: url(../img/letter_bg.png) no-repeat center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 45px;
  height: 45px;
  z-index: 99;
  cursor: all-scroll;
}

body .container .letter p {
  position: absolute;
}

body .container .letter p.letter-symbol {
  font-size: 18px;
  font-weight: 700;
}

body .container .letter p.letter-index {
  margin-top: 5px;
  bottom: 3px;
  right: 3px;
  font-size: 14px;
}

body .container .hide {
  display: none;
}

body .container .op-0 {
  opacity: 0;
}

body .container .game {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
  -ms-flex-preferred-size: 70%;
      flex-basis: 70%;
}

body .container .game .box {
  width: 741px;
  height: 741px;
  border: 3px solid #3f3f3f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

body .container .game .box-cell {
  width: 45px;
  height: 45px;
  margin: 2px;
  background: #c2c2c2;
  border-radius: 6px;
  font-size: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .container .game .box-cell.hovered {
  opacity: 0.5;
}

body .container .game .box-cell.triple-word {
  background: url(../img/triple-word.png) no-repeat center;
}

body .container .game .box-cell.double-word {
  background: url(../img/double-word.png) no-repeat center;
}

body .container .game .box-cell.triple-letter {
  background: url(../img/triple-letter.png) no-repeat center;
}

body .container .game .box-cell.double-letter {
  background: url(../img/double-letter.png) no-repeat center;
}

body .container .game .box-cell.star {
  background: url(../img/star.png) no-repeat center;
}

body .container .game .available-letters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .container .game .available-letters .slot {
  width: 45px;
  height: 45px;
  margin: 0 10px;
}

body .container .sidebar {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  min-height: 100vh;
  border-left: 10px solid #c2c2c2;
}
/*# sourceMappingURL=main.css.map */